@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f98b00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Roboto Condensed', san-serif !important;
}

/* --- NAVBAR  ---  */
/* navbar links */
nav a.nav-link {
  letter-spacing: 0.004rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 8rem;
  padding: 0 !important;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li a:focus {
  border-top: 0.1875rem solid var(--primary-orange) !important;
  color: var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
  color: var(--primary-orange) !important;
}

/* HEADER */

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
}

/* Typed Text */
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/* ABOUT */

.crest {
  width: 6.25rem;
  height: 6.25rem;
}

.content-header {
  color: var(--primary-orange)
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}