@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f98b00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Roboto Condensed' san-serif;
}

/* --- NAVBAR  ---  */
/* navbar links */
nav a.nav-link {
  letter-spacing: 0.004rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 8rem;
  padding: 0 !important;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li a:focus {
  /* border-top: 0.1875rem solid var(--primary-orange) !important; */
  color: var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange) !important;
}

/* HEADER */

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}