@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #ede7e3;
  --primary-orange: #ffa62b;
  --primary-teal: #489fb5;
  --primary-dark-teal: #16697a;
  --primary-light-teal: #82c0cc;
  --primary-dark: (rgb(52, 58, 64));
}

body {
  font-family: 'Roboto Condensed', san-serif !important;
}

/* --- NAVBAR  ---  */
/* navbar links */

nav {
  z-index: 2;
}
nav a.nav-link {
  letter-spacing: 0.004rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li a:focus {
  border-top: 0.1875rem solid var(--primary-orange) !important;
  color: var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
  color: var(--primary-orange) !important;
}

/* HEADER */

.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
}

/* Typed Text */
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/* ABOUT */

.crest {
  width: 6.25rem;
  height: 6.25rem;
}

.content-header {
  color: var(--primary-orange);
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESUME */

.resume {
  padding: 0.7rem;
  background: var(--primary-white)
}

.resume-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.resume-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-light-teal);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
  justify-content: right;
  text-align: right;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark-teal);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-teal);
  direction: ltr;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Portfolio */

.portfolio-wrapper {
  background: var(--primary-light-teal);
  padding: 3rem 0;
}

.portfolio-image {
  width: 15rem;
  padding: 0 0.5rem;
  
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: #000;
  width: 15rem;
  height: 8rem;
  top: 0;
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



/* Contact */

.contact {
  background: var(--primary-dark-teal);
  padding: 3rem 0;
}

.contact h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
}

.contact p {
  color: var(--primary-light-teal);
  font-size: 1.2rem;
}

.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-teal);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
}

::placeholder {
  color: var(--primary-light-teal) !important;
  opacity: 1;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  outline: none;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-light-teal);
}

.contact textarea {
  height: 6.1rem !important;
}

.contact-btn {
  border: 1px solid var(--primary-teal);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-light-teal);
  margin: 2rem;
  background: transparent;
}

.contact-btn:hover{
  text-decoration: none;
  background-color: var(--primary-light-teal);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/* Footer */

.footer {
  background: var(--primary-white);
}
.social-container {
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  
  a.twitter {
    color: #49a1eb;
  }

  a.github {
    color: #333;
  }

  a.linkedin {
    color: #0077b5;
  }


  



/* Media */

@media (max-width: 768px) {
  .resume .container {
    padding-left: 0;
  }
  .resume-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    text-align: left;
    width: 100%;
  }
  .content-header {
    text-align: center;
  }
  .contact .container {
    padding: 0 1rem;
  }
}